<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Splunkenizer Host List</title>
  </head>
  <body>

<div class="container-fluid" class="mx-auto" class="border border-primary">
  <h1><p class="text-center">Splunkenizer Host List</p></h1>
</div>

<div class="container-fluid">
<div class="row">

<% splunk_environments.each do |splunkenv| %>
  <% @group_name = "splunk_env_"+splunkenv['splunk_env_name'] %>
  <% groups[@group_name].each do |hostname| %>
    <% @host = settings['splunk_hosts'].find {|i| i["name"] == hostname} %>
    <% if splunkenv['splunk_ssl']['web']['enable'] == true %><% @url = 'https://' %><% else %><% @url = 'http://' %><% end %>
    <div class="col-sm-3">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header"><%= @host['name']%></div>
    <div class="card-body">
      <p class="card-text">Env: <%= splunkenv['splunk_env_name']%></p>
      <p class="card-text">IP Addr: <%= network[hostname]['ip_addr'] || ""%></p></div>
      <div class="card-footer">
      <% @host['roles'].each do |role| %>
        <% case role
          when 'cluster_master' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/manager/system/clustering">Cluster Master</a>
          <% when 'deployer' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/">Deployer</a>
          <% when 'deployment_server' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/manager/system/deploymentserver">Deployment Server</a>
          <% when 'heavy_forwarder' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/app/launcher/home">Heavy Forwarder</a>
          <% when 'indexer' %>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No web access on indexer">
              <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled="">Indexer</button>
            </span>
          <% when 'license_master' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/manager/system/licensing">License Master</a>
          <% when 'monitoring_console' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/app/splunk_monitoring_console">Monitoring Console</a>
          <% when 'search_head' %>
            <a class="btn btn-success" target="_blank" href="<%= @url %><%= network[hostname]['dns_name'] || network[hostname]['ip_addr'] %>:8000/app/launcher/home">Search Head</a>
          <% when 'universal_forwarder' %>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="No web access on universal forwarder">
              <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled="">Universal Forwarder</button>
            </span>
          <% end %>
        <% end %>
         </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
</div>
  </body>
</html>
